<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Holdings</ion-title>
    <ion-buttons slot="end" *ngIf="!platformHeaderIsSupported">
      <ion-button [routerLink]="['/ui/new']" color="primary">
        <ion-icon name="add" class="tab1__icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home__container" [fullscreen]="true" [scrollY]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Holdings</ion-title>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/ui/new']">
          <ion-icon slot="icon-only" name="add" class="tab1__icon"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <app-home></app-home>
</ion-content>
